.matches-container {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.matches-breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: whitesmoke;
  font-size: 1.2em;
}
.breadcrumbs-leagues-link {
  text-decoration: none;
  color: whitesmoke;
}
.matches-breadcrumbs a:hover {
  color: rgb(255, 255, 1);
  transition: color 0.3s ease;
}
.breadcrumbs-delimeter {
  width: 30px;
  text-align: center;
}
.breadcrumbs-current {
  text-decoration: none;
  color: whitesmoke;
}
.matches-date-select {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
}
.date-select-start {
  height: 30px;
  line-height: 30px;
}
.date-select-start input {
  display: inline-block;
  vertical-align: middle;
}
.date-select-end {
  height: 30px;
  line-height: 30px;
}
.date-select-end input {
  display: inline-block;
  vertical-align: middle;
}
.set-button-wrapper {
  height: 18px;
  line-height: 18px;
  text-align: center;
}
.set-date {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid whitesmoke;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  color: whitesmoke;
}
.set-date:hover {
  color: rgb(255, 255, 1);
  border-color: rgb(255, 255, 1);
  transition: 0.3s ease;
}
.matches-content {
  display: flex;
  flex-direction: column;
  min-height: 900px;
}
.matches-table {
  font-size: 0.9em;
  margin-top: 2em;
  margin-bottom: 2em;
	width: 100%;
	border: 1px solid #dddddd;
	border-collapse: collapse;
  min-height: 800px;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}
.matches-table th {
	font-weight: bold;
	padding: 5px;
	background: rgba(245, 245, 245, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.4);
}
.matches-table td {
	border: 1px solid rgba(245, 245, 245, 0.5);
	padding: 5px;
  font-weight: 400;
  color: whitesmoke;
}
.matches-table tr:hover {
  background-color: rgba(255, 255, 1, 0.3);
}
.matches-pagination {
  padding: 0.5em;
  align-self: center;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  user-select: none;
  margin-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2em;
}