.header-container {
  font-size: 2em;
  display: flex;
  column-gap: 10%;
  align-items: center;
  padding: 30px;
  background-color: rgb(186, 186, 186);
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 50px;
  cursor: pointer;
}
.header-logo img:hover {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.73);
  -moz-box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.73);
  box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.73);
  scale: 1.1;
  transition: scale 0.3s ease;
  border-radius: 100px;
}
.header-link {
  text-decoration: none;
  color: black;
}
