.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url("../app/assets/perfect-green-grass.jpg");
  z-index: 100;
  color: whitesmoke;
  cursor: pointer;
}