.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.7);
  color: whitesmoke;
  cursor: pointer;
}